<%= form_tag tweet_comments_path(tweet.id), method:"post" do %>
<label for="comment">
	<%= image_tag(session["user_image"], class: "protrait")%>
	<%= session["username"] %>
</label>
<br><br>
<input name="comment" style="width:80%">
<button class="btn btn-success">Comment</button>
<% end %>